SECRET_KEY="your-django-insecure-very-long-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,web,db,redis
DEBUG=False

# database settings
DATABASE_NAME="your_data_base_name"
DATABASE_USER="your_data_base_username(postgres in default)"
DATABASE_PASSWORD="your_data_base_password"
DATABASE_HOST="your_data_base_host" # Для локального запуска сервера поставить localhost, для docker поставить db
DATABASE_PORT="your_data_base_port(5432 in default)"

# telegram-bot settings
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"

# Переменные для celery и redis
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Docker
DOCKER_CONTAINER=True При запущенном контейнере True, по локалке False
